$colors: (
  primary: #92c7bb,
  alternative: #e9775c,
  base: #505d77,
  light-grey: #d4d4d4,
  x-light: #f6f9fb,
  light: #ffffff
);

$font-sizes: (
  T8: 0.554375em,
  T4: 1em,
  T3: 0.88875em
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font($font-name) {
  @return map-get($font-sizes, $font-name);
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.footer {
  border-top: 1px solid color(light-grey);
  .final_price {
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: color(alternative);
    font-size: 1.5em;
    text-shadow: 0.8px 0 color(alternative);
    letter-spacing: 1px;
    font-weight: bolder;
    @include desktop {
      margin-left: 1em;
      font-size: 1.8em;
    }
  }
  .total_price {
    color: color(base);
    font-size: font(T3);
    margin-left: 0.5em;
    margin-top: 0.3em;
    text-decoration-line: line-through;
    text-shadow: 0.3px 0 color(base);
    letter-spacing: 1px;
    font-weight: bolder;
    @include desktop {
      margin-left: 1em;
      font-size: 1em;
    }
  }
  .upload_btn {
    float: right;
    text-align: center;
    cursor: pointer;
    background: color(alternative);
    color: color(light);
    width: 30vh;
    font-size: 1.2em;
  }
}
