$colors: (
  primary: #92c7bb,
  alternative: #e9775c,
  base: #505d77,
  light-grey: #d4d4d4,
  x-light: #f6f9fb,
  light: #ffffff
);

$font-sizes: (
  T8: 0.554375em,
  T4: 1em,
  T3: 0.88875em
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font($font-name) {
  @return map-get($font-sizes, $font-name);
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.main {
  height: 70vh;
  background-color: color(x-light);
}

.modal_btn {
  background: color(alternative);
  color: color(light);
  border: none;
  padding: 0.45em;
  border-radius: 2px;
}

.wrapper_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  .img_box {
    border-top: 1px solid color(light-grey);
    border-bottom: 1px solid color(light-grey);
    border-right: 1px solid color(light-grey);
    background: color(light);
    cursor: pointer;
    width: 20em;
  }
  .left {
    border-left: 1px solid color(light-grey);
  }
  .img_svg {
    margin-top: 1em;
    height: 2em;
    width: 2em;
  }
  .edit {
    margin-top: 0.5em;
    margin-left: 0.5em;
    height: 3em;
    width: 3em;
  }
  .text {
    margin-top: 1.3em;
    font-weight: bold;
    font-size: font(T8);
  }
  .edit_text {
    margin-top: 0.3em;
  }
}

.display {
  background: color(light);
  box-shadow: 0 0 2px 4px color(light-grey);
  border-radius: 1px;
  margin: 0 auto;
  margin-top: 3em;
  height: 35vh;
  width: 70vw;

  @include desktop {
    margin-top: 1.5em;
    height: 50vh;
    width: 50vw;
  }
}

.cloud_display {
  text-align: center;
  .cloud_img {
    margin-top: 3em;
    @include desktop {
      margin-top: 4em;
      height: 7em;
    }
  }
  .text_header {
    margin: 0;
    padding: 0;
    margin-top: 0.8em;
    font-size: 1.3em;
    color: color(base);
    font-weight: bold;
    @include desktop {
      font-size: 1.5em;
    }
  }

  .text_sub {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: color(base);
    font-weight: 100;
    @include desktop {
      font-size: 1.1em;
    }
  }
}

.edit_size {
  position: fixed;
  right: 0px;
  text-align: center;
  background: color(light);
  border: 1px solid color(light-grey);
  height: 14vh;
  width: 4em;
  margin-top: 1.2em;
  cursor: pointer;
  @include desktop {
    height: 20vh;
    width: 5em;
  }
  .img_gear {
    width: 2.5em;
    margin-top: 0.5em;
    @include desktop {
      margin-top: 1em;
      margin-bottom: 0.3em;
      width: 3.5em;
    }
  }
  .gear_text {
    margin: 0;
    font-size: 0.65em;
    font-weight: bold;
    @include desktop {
      font-size: 0.8em;
    }
  }
}
