$colors: (
  primary: #92c7bb,
  alternative: #e9775c,
  base: #505d77,
  light-grey: #d4d4d4,
  x-light: #f6f9fb,
  light: #ffffff
);

$font-sizes: (
  T8: 0.554375em,
  T4: 1em,
  T3: 0.88875em
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font($font-name) {
  @return map-get($font-sizes, $font-name);
}
